.max-width-wrapper {
    padding-top : 96px;
    /* padding-left: 264px; */
}
.light-gray {
    background-color: #999999;
    min-height: 8px;
}
main .light-gray {
    max-width: 800px;
    margin: auto;
}
h1 {
    font-weight: 800;
}
.title {
    margin-bottom: 48px;
}
.intro-chunk {
    max-width: 800px;
    margin: auto;
    padding-left: 24px;
}
.intro-chunk strong {
    color: #009966;
}
main>.max-width-wrapper {
    background: #666666;
    padding-left: 0px;
    padding-bottom: 58px;
    border-top: 8px solid #999999;
}
.intro-chunk p {
    max-width: 415px;
}
p {
    margin-bottom: 16px;
    font-size: 1.25rem;
    font-weight: 500;
}
.intro-chunk p strong {
    font-weight: 800;
}
.card {
    background-color: white;
    max-width: 800px;
    margin: auto;
    padding-left: 24px;
    padding-top: 8px;
    padding-bottom: 0.1px;
    border-bottom: 8px solid #999999;

}
.card p {
    margin-top: 22px;
}
.indented-heading {
    padding-block: 12px;
    padding-left: 32px;
    padding-inline: 24px;
    background: #FFBF00;
    margin-left: -32px;
    max-width: 374px;
    border-bottom: 8px solid #CC9900;;
}



/* main.main>.header-container {
    padding: 96px 24px 64px 24px;
} */
/* .heading {
    margin-bottom : 48px;
}
.highlight-green {
    color: #009966;
}
.divider-sm {
    height: 8px;
    background: #999999;
}
.divider-lg {
    height: 72px;
    background: #666666;
}
.wrapper {
    padding-right: 24px;
}
.wrapper .header-container {
    background: #FFBF00;
    margin-top: 8px;
    padding: 12px 24px 12px 24px;
}
.wrapper .header-container h2{
    display: inline-block;
}
.wrapper .divider-sm {
    background: #CC9900;
    margin-bottom: 30px;
}
.wrapper .content {
 padding-left: 24px;
 margin-bottom: 16px;
} */